.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-start;
  z-index: 999;
  cursor: pointer;
}

.sidebar {
  cursor: default;
  width: 80%;
  height: 100%;
  background-color: hsl(0, 0%, 95%);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.sidebarTop {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 20px 0;
  border-bottom: 1px solid #E2E4E5;
}

.searchForm {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 15px 6px;
  color: #6B728080;
  column-gap: 5px;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #E1E1E1;
  border-radius: 7px;
}
.searchForm:has(.searchInput:focus) {
  color: #0F0F0F; 
}
.searchButton {
  font-size: 1.5rem;
  cursor: pointer;
}
.searchInput {
  outline: none;
  flex: 2 1;
}

.createNewPatientBtn {
  width: 90%;
  margin: 0 auto;
  background-color: #007AFF;
  color: #FFFFFF;
  padding: 10px 0;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarMain {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 85%;
  margin: 0 auto;
  padding-top: 15px;
}
.patientListTitle {
  color: #0F0F0F;
  font-weight: 700;
  font-size: 1.25rem;
}
.patientList {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  max-height: calc(100vh - 300px);
  overflow-y: auto;
}
.patientListItemButton {
  padding: 10px 15px;
  background-color: #F8F9FA;
  border-radius: 7px;
  color: #0F0F0F;
  font-weight: 500;
  cursor: pointer;
}

.sidebarBottom {
  margin-top: auto;
}
.userSection {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  border-top: 1px solid #D6D9DF;
}

.userAvatar {
  padding: 15px;
  background-color: #E2E4E5;
  border-radius: 50%;
  font-size: 1.5rem;
}

.userName {
  font-weight: 500;
  color: #131313;
}
.userRole {
  font-size: .8rem;
  font-weight: 300;
}

.logOutBtn {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  color: #B01212;
  font-size: 1rem;
  column-gap: 12px;
  padding-bottom: 20px;
  padding-left: 5px;
  cursor: pointer;
}
.logOutBtn:hover, .logOutBtn:focus {
  color: #8B0000;
}