.logoContainer {
  width: 80%;
  margin: 0 auto;
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  margin-top: max(calc(20dvh - 5%), 50px);
  margin-bottom: 30px;
}